<h1> <%= @list.name %> </h1>

<button> <%= link_to "Add a movie in this list", new_list_bookmark_path(@list.id) %> </button>

<button> <%= link_to "Back to all lists", lists_path %> </button>

<ul>
  <% @list.movies.each do |movie|  %>
    <li> <%= movie.title %> </li>
  <% end %>
</ul>
